*{
    margin: 0%;
    padding: 0%;
}
.about-area{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/IP3-master/assets/backgrounds/h_img.jpg);
    overflow: hidden;
     border-radius: 8px;

}
.text-style{
      position: absolute;
  top: 50%;
  left: 60%;
  
  transform: translate(-50%, -50%);

}
.about-us{
    text-align: center;
    background-color: whitesmoke;
}
.services{
    background-image: url(/IP3-master/assets/backgrounds/c_image.jpg);
    color: #fbfcfd;
    text-align: center;
    width: 100%;
    height: 40vh;
}
